{% comment %}
Add default products to help with onboarding for collections/all only.

The onboarding styles and products are only loaded if the
store has no products.
{% endcomment %}
{% for i in (1..2) %}

<div class="product">
  <a class="product-images" href="/admin/products" title="Uno Engo Product">
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
  </a>
  <a href="/admin/products" title="Uno Engo Product"><p class="product-title">Uno Engo Product</p></a>
  <p class="cat">
    Uno Engo Collection
  </p>
  <p class="product-price">$96.69</p>
</div>
{% endfor %}