{% comment %}
Add default products to help with onboarding for collections/all only.

The onboarding styles and products are only loaded if the
store has no products.
{% endcomment %}

{% for i in (1..12) %}
<div class="item-inner">
  <div class="product">
    <div class="product-images">
      <a href="/admin/products" title="product-images">
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </a>
      <div class="action">
        <a class="chart" href="/admin/products" title="Compare" ><i class="icon icon-bar-chart"></i></a>
        <a class="zoom" href="/admin/products" title="Quick view" ><i class="icon icon-magnifier-add "></i></a>
        <a class="wish" href="/admin/products" title="Wishlist" ><i class="icon icon-heart"></i></a>
        <a class="add-cart" href="/admin/products" title="Add to cart" ><i class="icon-bag"></i></a>
      </div>
    </div>
    <a href="/admin/products" title="Uno Engo Product">
      <p class="product-title">Uno Engo Product</p>
    </a>
    <p class="product-price">$69.90</p>
    <p class="description">Dramatically transition excellent information rather than mission-critical results. Competently communicate fully tested core competencies through holistic resources. Professionally maintain high-payoff best practices whereas user-centric alignments. Intrinsicly engage future-proof best practices whereas economically sound resources. Holisticly maximize multidisciplinary synergy before magnetice-tailers.</p>
  </div>
  <!-- End product -->
</div>
{% endfor %}