<!-- /snippets/related-products.liquid -->
{% assign products_limit = section.settings.related_limit %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% endif %}

<div class="title-product">
  <h3>{{section.settings.related_title}}</h3>
</div>
<!-- End title -->
<div class="upsell-product products owl-nav-hidden">
  {% if collection and collection.products_count > 1 %}
  {% assign current_product = product %}
  {% assign current_product_found = false %}
  {% for product in collection.products limit: products_limit %}
  {% if product.handle == current_product.handle %}
  {% assign current_product_found = true %}
  {% else %}
  {% unless current_product_found == false and forloop.last %}

  {% include 'product-item' %}
  
  {% endunless %}
  {% endif %}
  {% endfor %}
  {% else %}
  
  {% include 'onboarding-empty-s-products' %}
  
  {% endif %}
</div>

